* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(176, 161, 21);
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.main-header__item a:hover,
.main-header__item a:active {
    color: black;
}

main {
    padding: 1rem;
}