<%- include('../includes/head') %>
    </head>

    <body>
        <%- include('../includes/navigation') %>
            <main>
                <h1>Oops, looks like you are lost. Try the link above</h1>
            </main>
            <%- include('../includes/tail') %>